$bckGrey: #333;
$cubic: cubic-bezier(.55,0,.1,1);
$cubicBtn: all 0.75s cubic-bezier(.55,0,.1,1);
$drkYellow: #100E04;
$fadeWhite: rgba(#fff,0.8);
$headTrans: all 0.5s $cubic;
$sideSpace: 55px;
$textSpace: 35px;
$yellow: #F1CA10;
$console: 'Inconsolata';


// Sizes for media queries

$mb: 400;
$bmb: 700;
$tb: 768;
$btb: 1024;
$lt: 1200;
$dt: 1440;

body {
	background: linear-gradient($bckGrey, #111 70%);
	color: #000;
	font-family: 'Inconsolata';
	line-height: 1;
	margin: 0;
	padding: 0;
	@media (max-width: #{$btb}px) {
		background: #1D1D1D;
	}
}

* a {
	text-decoration: none;
	color: #000;
	&:hover {
		text-decoration: none;
		color: #000;
	}
	&.bold {
		font-size: 16px;
		letter-spacing: 0px;
		text-decoration: underline;
	}
}

* span.bold {
	font-size: 16px;
}


.mobileHide {
	@media(max-width: #{$btb}px) {
		display: none !important;
	}
}

.desktopHide {
	@media(min-width: #{$btb+1}px) {
		display: none !important;
	}
}

.fader {
	background: #111;
	display: block;
	height: 100%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99999;
}

.mainContainer {
	margin: 0 auto;
	max-width: 1920px;
	overflow: hidden;
	top: 0;
}

.btnContainer {
	display: block;
	height: 50px;
	position: relative;
	top: 0px;
	transform-style: preserve-3d;
	transition: $cubicBtn;
	width: 175px;
}

.boxBtn {
	cursor: pointer;
	&:hover {
		.btnContainer {
			top: 25px;
			transform: rotateX(-90deg);
			& .btnTop {
				box-shadow: 2px 2px 4px rgba(#000,0.7);
				opacity: 1;
				font-weight: 700;
			}
			& .btnFace {
				box-shadow: none;
				opacity: 0.8;
			}
		}
	}
}

.myBtn {
	background: #000;
	box-shadow: 2px 2px 4px rgba(#000,0.7);
	color: $yellow;
	display: inline-block;
	font-size: 20px;
	height: 50px;
	padding: 12px 0 14px;
	text-align: center;
	letter-spacing: 1px;
	position: absolute;
	user-select: none;
	width: 175px;
	&.btnFace {
		transition: $cubicBtn;
	}
	&.btnTop {
		background: transparent;
		border: 2px solid #000;
		box-shadow: none;
		color: #000;
		opacity: 0.3;
		transform: rotateX(90deg) translateY(-25px) translateZ(25px);
		transition: $cubicBtn;
	}
	.icon {
		position: relative;
		top: 3px;
	}
}

.letSpaceNone, .lastLetter {
	letter-spacing: 0;
}

@keyframes flash {
  0% {background: transparent;}
  49% {background: transparent;}
  50% {background: #FFF;}
  100% {background: #FFF;}
}

header {
	background-attachment: fixed;
	background-image: url("https://picsum.photos/id/68/1920/1080");
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	height: 475px;
	position: relative;
	top: 0;
	width: 100%;
	max-width: 1920px;
	z-index: 1000;
	@media(min-width: 1920px) {
		height: 575px;
		.triangle {
			transform: translate(-50%, -670px);
		}
		.my {
			font-size: 70px;
		}
		.resume {
			font-size: 100px;
		}
	}
	@media(max-width: #{$btb}px) {
		background-image: url(http://theaftermath.xposedbones.com/img/headerBackground-mobile.jpg);
		background-position: top center;
		background-attachment: scroll;
		background-size: cover;
		top: -10px;
	}
	&.sticky {
		position: fixed;
		#myName {
			bottom: 45px;
			transform: scale(0.75);
		}
	}
	#headDarker {
		background: rgba(#000,0.1);
		display: block;
		height: 100%;
		position: absolute;
		width: 100%;
		max-width: 1920px;
		@media(max-width: #{$lt}px) {
			background: rgba(#000,0.5);
		}
	}
	.svgHolder {
		.triangle {
			display: block;
			height: auto;
			position: absolute;
			transform: translate(-50%, -700px);
			width: 1200px;
			@media(max-width: #{$btb}px) {
				width: 800px;
				transform: translate(-20%, -300px);
			}
			@media(max-width: #{$bmb}px) {
				width: 450px;
				transform: translate(-20%, -175px);
				@media(orientation: landscape) {
					width: 400px;
					transform: translate(-10%, -250px);
				}
			}
		}
		.resuTitle {
			display: block;
			margin: 20px 0 0 $sideSpace;
			position: absolute;
			span {
				display: block;
				letter-spacing: 5px;
				line-height: 1;
				margin: 0;
				position: relative;
				&.my {
					font-size: 60px;
				}
				&.resume {
					font-size: 90px;
				}
			}
			@media(max-width: #{$btb}px) {
				position: relative;
				right: 0;
				top: 120px;
				margin: 10px 0 0 $sideSpace/2;
			}
			@media(max-width: #{$bmb}px) {
				top: 50px;
				span {
					&.my {
						font-size: 45px;
					}
					&.resume {
						font-size: 60px;
					}
				}
				@media(orientation: landscape) {
					top: 5px;
					span {
						&.my {
							font-size: 30px;
						}
						&.resume {
							font-size: 50px;
						}
					}
				}
			}
		}
	}
	#myName {
		bottom: 64px;
		color: $yellow;
		display: block;
		left: $sideSpace;
		position: absolute;
		transform-origin: bottom left;
		span {
			color: $yellow;
			display: block;
			line-height: 1;
			transition: $headTrans;
			&.mainName {
				font-size: 35px;
			}
			&.subName {
				font-size: 18px;
			}
		}
		@media(max-width: #{$btb}px) {
			bottom: 40px;
			left: $sideSpace/2;
			span {
				&.mainName {
					font-size: 50px
				}
				&.subName {
					font-size: 20px
				}
			}
			@media(orientation: landscape) {
				left: auto;
				right: $sideSpace/4;
			}
		}
		@media(max-width: #{$tb - 1}px) {
			bottom: 40px;
			left: $sideSpace/4;
			span {
				&.mainName {
					font-size: 30px
				}
				&.subName {
					font-size: 16px
				}
			}
		}
	}

	.menuBurger {
		position: fixed;
		right: 0;
		top: 0;
		background: rgba(#000, 0.8);
		width: 35px;
		padding: $sideSpace/6;
		height: 30px;
		cursor: pointer;
		z-index: 10000;
		overflow: hidden;
		box-sizing: initial;
		.bar {
			width: 35px;
			height: 3px;
			display: block;
			position: absolute;
			background: rgba($yellow, 1);
			transition: all 0.5s $cubic;
			&.topBar {
				transform: translateY(0px) rotate(0deg);
			}
			&.midBar {
				transform: translateY(11px) rotate(0deg);
			}
			&.btmBar {
				transform: translateY(22px) rotate(0deg);
			}
		}
		&.burgerClosed {
			.topBar {
				transform: translateY(11px) rotate(45deg);
			}
			.midBar {
				transform: translateY(11px) rotate(225deg);
				background: rgba($yellow, 0);
			}
			.btmBar {
				transform: translateY(11px) rotate(-45deg);
			}
		}
	}

	.chooseLang {
		position: fixed;
		padding: 10px;
		font-size: 25px;
		background: #000;
		color: $yellow;
		top: 0;
		right: 0;
		text-transform: uppercase;
		&:hover {
			background: $yellow;
			color: #000;
		}
		&:active {
			background: #000;
			color: #fff;
		}
	}

	#headMenu {
		bottom: 0;
		display: block;
		padding-left: 33.3333%;
		position: absolute;
		transform: translateY(50%);
		width: 100%;
		max-width: 1920px;
		.chooseLang {
			position: absolute;
    		display: inline-block;
			padding: 10px;
			font-size: 25px;
			background: #000;
			right: auto;
			left: 0;
			color: $yellow;
			text-transform: uppercase;
			transition: all 0.1s linear; 
			&:hover {
				background: $yellow;
				color: #000;
			}
		}
		ul {
			display: block;
			font-size: 0px;
			list-style: none;
			margin: 0 auto;
			padding: 0;
			position: relative;
			width: 66%;
			.menuTitle {
			    font-size: 32px;
			    display: block;
			    position: relative;
			    margin-bottom: 5px;
			    margin-left: 10px;
			    letter-spacing: 3px;
			}
			li {
				box-shadow: 4px 4px 8px #000;
				display: inline-block;
				margin-right: 5%;
				position: relative;
				width: 30%;
				z-index: 100;
				border-radius: 1px;
				overflow: hidden;
				&:last-of-type {
					margin-right: 0;
				}
				&:hover {
					a {
						background: rgba(#222, 0.8);
						color: $yellow;
						font-weight: 500;
					}
				}
				&:active {
					a {
						background: #000;
						color: #fff;
					}
				}
				a {
					background: $yellow;
					color: #000;
					display: block;
					font-size: 22px;
					font-weight: 700;
					letter-spacing: 2px;
					padding: 10px 0;
					position: relative;
					text-align: center;
					text-decoration: none;
					outline: none;
				}
			}
		}
		@media(max-width: #{$btb}px) {
			display: block;
			position: fixed;
			height: 100%;
			background: rgba(#000, 0.0);
			top: 0;
			left: -100%;
			padding: 0;
			transform: translateY(0px);
			transition-delay: 0.1s;
			ul {
				width: 40%;
				height: 100%;
				margin: 0;
				transform: translateX(-100%);
				background: $yellow;
				padding: 160px 0;
				transition: transform 0.5s $cubic;
				transition-delay: 0.1s;
				li {
					display: block;
					box-shadow: none;
					width: 100%;
					border-bottom: 1px solid rgba(#000, 0.7);
					&:first-child {
						border-top: 1px solid rgba(#000, 0.7);
					}
					a {
						padding: 20px 0;
						font-size: 20px;
						background: rgba(#000, 0.1);
					}
				}
			}
		}
		@media(max-width: #{$tb - 1}px) {
			ul {
				width: 60% !important;
				@media (orientation: landscape) {
					padding: 30px 0;
				}
			}
			
		}
		@media(min-width: #{$btb + 1}px) and (max-width: #{$lt}px) {
			ul {
				li {
					a {
						font-size: 18px;
					}
				}
			}
		}
		&.menuOpened {
			background: rgba(#000, 0.7);
			ul {
				transform: translateX(0%);
			}
		}
	}
}

#__bs_notify__ {
	bottom: 0;
	top: auto !important;
}

.mainContent {
	max-width: 1920px;
	position: relative;
	overflow: hidden;
	section {
		padding: 0 $sideSpace;
		margin: 150px auto;
    max-width: 1350px;
		@media(max-width: #{$btb}px) {
			padding: 0 $sideSpace/4;
			margin: 75px 0;
		}
		@media(max-width: #{$bmb}px) {
			padding: 0 $sideSpace/6;
			z-index: 1;
		}
	}
	.darker {
		background: rgba($drkYellow, 0.6);
		display: block;
		height: 100%;
		position: absolute;
		top: 0;
		transition: background 0.5s $cubic;
		width: 100%;
		z-index: 10;
	}
	.container {
		width: 100%;
		.half {
			padding: 0;
			a {
				padding: 0;
			}
			.yellowContain {
				display: block;
				position: relative;
				height: 100%;
			}
			.yellowBox {
				background: $yellow;
				display: table;
				height: 100%;
				width: 100%;
				z-index: 10;
				.boxTitle {
					background: #000;
					box-shadow: 4px 4px 8px #000;
					color: $yellow;
					display: inline-block;
					font-size: 28px;
					left: -$sideSpace/2;
					letter-spacing: 1px;
					line-height: 1;
					padding: 12px $sideSpace;
					position: absolute;
					text-align: center;
					top: 40px;
					&:after {
						border-color: #000000 transparent transparent transparent;
						border-style: solid;
						border-width: 42px 21px 0 21px;
						content: '';
						height: 0;
						left: 8px;
						position: absolute;
						top: 40px;
						transform: rotate(-30deg);
						width: 0;
						z-index: -1;
					}
					&:before {
						border-color: #000000 transparent transparent transparent;
						border-style: solid;
						border-width: 42px 21px 0 21px;
						content: '';
						height: 0;
						position: absolute;
						right: 8px;
						top: 40px;
						transform: rotate(30deg);
						width: 0;
						z-index: -1;
					}
				}
				.ctaBtn {
					bottom: 32px;
					position: absolute;
					right: $sideSpace/2;
				}
			}
			.boxText {
				display: table-cell;
				font-weight: 700;
				padding: 0 $sideSpace/2;
				text-align: justify;
				vertical-align: middle;
			}
			@media (max-width: 991px) {
				.yellowBox {
					height: auto;
					.boxTitle {
						top: 20px;
						font-size: 24px;
						padding: 8px $sideSpace;
						&:after, &:before {
							display: none;
						}
					}
				}
				.boxText {
					padding: 100px 25px 80px;
					font-size: 12px;
				}
			}

		}
		.picGrid {
			overflow: hidden;

			a {
				position: relative;
        display: block;
        width: 100%;
        aspect-ratio: 2.39/1;
        
				img {
					max-width: 100%;
				}
				.icon {
					color: $fadeWhite;
					font-size: 35px;
					left: 50%;
					opacity: 0;
					position: absolute;
					top: 62%;
					transform: translate(-50%);
					transition: all 0.5s $cubic;
					z-index: 100;
				}
				.tileTitle {
					color: $fadeWhite;
					display: inline-block;
					font-size: 30px;
					font-weight: 700;
					height: 37px;
					left: 50%;
					letter-spacing: 10px;
					position: absolute;
					text-align: center;
					text-transform: uppercase;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					top: 50%;
					transform: translate(-50%, -50%) scale(1);
					transition: all 0.2s ease-in-out;
					z-index: 11;
					&:before, &:after {
						background: $fadeWhite;
						content: '';
						display: block;
						height: 2px;
						position: relative;
						transition-delay: 0.2s;
						transition: all 0.5s $cubic;
						width: 0%;
						z-index: 11;
					}
					&:after {
						float: right;
						margin-top: 3px;
					}
				}
				@media(min-width: #{$lt+1}px) {
					&:hover {
						.darker {
							background: rgba($drkYellow, 0.95);
						}
						.tileTitle {
							color: rgba(#fff,1);
							transform: translate(-50%, -50%) scale(1.1);
							&:before, &:after {
								width: 100%;
							}
						}
						.icon {
							opacity: 1;
							transition-delay: 0.5s;
						}
					}
				}
			}
			@media(max-width: #{$tb}px) {
				a {
					.tileTitle {
						font-size: 18px;
					}
					.contact {
						font-size: 24px;
					}
				}
			}
			@media(max-width: #{$bmb}px) {
				a {
					.tileTitle {
						letter-spacing: 5px;
						height: auto;
					}
				}
			}
		}
	}
	#myWork {
		@media(max-width: #{$tb}px) {
			margin-top: 40px;
		}
	}
	#aboutMe {
		.darker {
			background: rgba($drkYellow, 0.6);
		}
		.half {
			img {
				min-height: 500px;
				width: 100%;
			}
			.boxTitle {
				left: auto;
				right: -$sideSpace/2;
			}
			.statsDiv {
				color: #fff;
				display: block;
				height: 100%;
				padding: 15px $sideSpace/2;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 100;
				h2 {
					background: #000;
					letter-spacing: 1px;
					margin-bottom: 30px;
					padding: 5px 10px;
					position: absolute;
					&:after {
						animation: flash 1s infinite;
						background: #fff;
						content: '';
						display: inline-block;
						height: 25px;
						margin-left: 1px;
						opacity: 0.8;
						position: relative;
						top: 2px;
						width: 16px;
					}
				}
				.dataProg {
					display: block;
					position: relative;
					top: 50%;
					transform: translateY(-50%);
				}
				.statHolder {
					width: 100%;
					padding: 0 $sideSpace;
					h4 {
						display: block;
						position: relative;
						text-align: center;
						letter-spacing: 2px;
					}
					.bar {
						background: rgba(#000, 0.5);
						display: block;
						height: 12px;
						margin: 0 auto 25px;
						overflow: hidden;
						position: relative;
						width: 100%;
						.progressBar {
							width: 0;
							height: 100%;
							background: rgba($yellow, 0.9);
						}
					}
				}
			}
		}
		@media(max-width: 600px) {
			#gifCont {
				overflow: hidden;
			}
			.half {
					img {
					position: relative;
					left: -95px;
					width: auto;
				}
				.statsDiv {
					padding: 0px;
					h2 {
						left: 7px;
					}
					.statHolder {
						padding: 0 20px;
					}
				}
			}
		}
	}
	#whyMe {
		.yellowBox {
			h2 {
				background: #000;
				box-shadow: 4px 4px 8px #000;
				color: $yellow;
				display: block;
				margin: 0 auto 40px;
				padding: 5px 35px;
				position: relative;
				width: 175px;
			}
		}
		.myBtn { padding: 12px 0px 14px; }
	}
}